@import 'css/_variables.scss';
.control.drop-down {
    outline: none;
    position: relative;
    .drop-down-header {
        position: relative;
        cursor: pointer;
        input[type=text] + * {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem 0;
            font-weight: 600;
            pointer-events: none;
            color: $primary-color;
        }
    }
    .drop-down-body {
        position: absolute;
        width: 100%;
        background-color: #FFFFFF;
        margin: 0.125rem 0 0 0;
        padding: 0;
        border: 2px solid $focused-border-color;
        border-radius: 0.5rem;
    }
    ul.drop-down-list {
        list-style-type: none;
        > li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            width: 100%;
            align-items: center;
            padding: 0.5rem 1.5rem;
            font-size: 1.125rem;
            position: relative;
            transition: all 0.2s ease-out;
            &:first-child {
                border-radius: 0.25rem 0.25rem 0 0;
            }
            &:last-child {
                border-radius: 0 0 0.25rem 0.25rem;
            }
            &:not(:first-child) {
                border-bottom: 1px solid $background-color;
                &::before {
                    content: '';
                    position: absolute;
                    top: -1px;
                    left: 0.5rem;
                    right: 0.5rem;
                    border-top: 1px solid $placeholder-color;
                    transition: all 0.2s ease-out;
                }
            }
            &:hover {
                background-color: rgba(195, 205, 212, 0.60);
                background-origin: content-box;
                &::before,
                + ::before {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
    &:not(.open) {
        .drop-down-body {
            display: none;
        }
    }
    &.open {
        z-index: 1000;
    }
}