@import 'css/_variables.scss';
.control.radio-group {
    > button {
        &:not(:first-child) {
            margin-left: 1.5rem;
            margin-bottom: 0.5rem;
        }
        outline: 0;
        padding:0;
        user-select: none;
        display: inline-block;
        font-size: 1.125rem;
        line-height: 2.375rem;
        width: 8.75rem;
        text-align: center;
        border-radius: 9999px;
        border: 1px solid $placeholder-color;
        transition: all 0.2s;
        @media screen and (max-width: 30rem) {
            width: 7.5rem;
            height: 2.25rem;
            line-height: 2.25rem;
            font-size: 1rem;
        }
        &.checked {
            color: $background-color;
            background-color: $primary-color;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        }
        &:not(.checked) {
            color: $placeholder-color;
            background-color: $background-color;
        }
        &:focus,
        &:hover {
            // color: $primary-color;
            // border: 1px solid $primary-color;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        }
        > i {
            font-size: 1.75rem;
            line-height: 2.375rem;
            width: 0;
            left: 0.75rem;
            position: relative;
            float: left;
            @media screen and (max-width: 30rem) {
                left: 0.5rem;
                font-size: 1.5rem;
            }
        }
    }
}