@import 'css/_variables.scss';

.control.empty.blur > .area-phone-input > span {
    display: none;
}

.area-phone-input {
    display: flex;
    position: relative;
    
    > span {
        display: block;
        position: absolute;
        top: .5rem;
        &:before {
            content: "(";
            display: block;
            float: left;
            margin-right: 1.75em;
            width: .5em;
            text-align: center;
        }
        &:after {
            content: ")";
            display: block;
            float: left;
            width: .5em;
            text-align: center;
        }
    }
    > input.area-code {
        width: 2.75em;
        float: left;
        padding-left: .625em;
        z-index: 1000;
    }
}
