@import 'css/_variables.scss';
.back-arrow {
    position: absolute;
    left: 1.25rem;
    width: 3.375rem;
    height: 3.375rem;
    text-align: center;
    border-radius: 2em;
    border: .1875em solid $primary-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:  $primary-color !important;
    @media screen and (max-width:30rem) {
        left: .5rem;
        width: 2.5rem;
        height: 2.5rem;
        border: .125em solid $primary-color;
    }
}