@import 'css/_variables.scss';
.date-input {
    > .date-input-body {
        display: flex;
        > :nth-child(odd) {
            flex: 1 1 auto;

            input {
                &::placeholder {
                    color: $placeholder-color;
                }
            }

        }
        > :nth-child(even) {
            font-size: 1.125rem;
            padding: 0.5rem 1rem;
            display: inline-block;
            flex: 0;
            color: $placeholder-color;
        }
    }
}