@import 'components/shared/controls/DropDownControl.scss';
.control.drop-down.autocomplete ul.drop-down-list > li {
    padding: 1.25rem 1.5rem;
}

.control.drop-down.autocomplete .drop-down-body > img {
    position: absolute;
    width: 6rem;
    right: 0.375rem;
    bottom: 0.375rem;
}

.loading {
    width: 1.25rem;
    height: 1.25rem;
    animation: spin 1.25s infinite linear;
    @keyframes spin {
        0% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
    }
}