@import 'css/_variables.scss';
.address-toggle {
    text-align: right;
    > label {
        cursor: pointer;
        color: $primary-color;
        font-size: 0.875rem;
        > input[type=checkbox] {
            display: none;
        }
    }
}

.autocomplete-no-results {
    padding: 1rem 1.5rem;
    
    input[type=checkbox] {
        display: none;
    }
    > label {
        cursor: pointer;
        font-size: 1rem;
        display: inline-block;
        text-align: center;
        line-height: 2.5rem;
        width: 14.875rem;
        border-radius: 100px;
        color: $background-color;
        background-color: $focused-border-color;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        margin-left: 1.5rem;
    }
}