@import 'css/_variables.scss';
.step-index {
    border-radius: 1rem;
    color: $primary-color;
    @media screen and (min-width: 30rem) {
        float: left;
    }
    @media screen and (max-width: 30rem) {
        font-size: 0.635rem;
        text-align: right;
        margin-top: -1rem;
        margin-bottom: .625rem;
    }
}

.progress-bar {
    margin-top: 0.5rem;
    height: .5rem;
    background-color: white;
    border-radius: .25rem;
    overflow: hidden;
    @media screen and (max-width: 30rem) {
        height: .375rem;
    }
    span.filled-bar {
        display: block;
        height: .5rem;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        background-color: $primary-color;
        transition: width .8s cubic-bezier(0.52, -0.2, 0.52, 1.2);
        &:before {
            content: ""
        }
        @media screen and (max-width: 30rem) {
            height: .375rem;
        }
    }
    span.bar-tail {
        display: inline-block;
        width: .5rem;
        height: .5rem;
        background: linear-gradient(90deg, $primary-color 0%, transparent 100%);
        @media screen and (max-width: 30rem) {
            height: .375rem;
        }
    }
}