@import 'css/_variables.scss';
.step-header {
    height: 9.375rem;
    color: $primary-color;
    background-color: $secondary-color;
    padding: 1.5rem 1rem;
    > .fl {
        height: 6.25rem;
        max-width: 10rem;
        display: flex;
        align-items: center;
        > img {
            max-height: 100%;
            max-width: 10rem;
        }
    }
    @media screen and (max-width: 30rem) {
        height: 5.625rem;
        padding: 1rem 0.375rem;
        > .fl {
            height: 3.625rem;
            max-width: 5rem;
            padding: 0.25rem 0;
            > img {
                max-width: 5rem;
            }
        }

        &.scrolled {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            height: 3.125rem;
            padding: 0 0.375rem;
            > .fl {
                height: 3rem;
                max-width: 3rem;
                > img {
                    max-width: 3rem;
                }
            }
            .phone,
            .slogan {
                display: none;
            }
            + div {
                margin-top: 5.625rem;
            }
        }
    }
    .phone {
        font-size: 1.125rem;
        vertical-align: middle;
        @media screen and (max-width: 30rem) {
            font-size: 0.75rem;
        }
        a.tel {
            color: inherit !important;
        }
        > .icon-phone {
            @media screen and (min-width: 30rem) {
                font-size: 1.375rem;
                vertical-align: text-top;
            }
            margin-right: .25rem;
        }
    }
    .slogan {
        font-weight: 300;
        @media screen and (max-width: 30rem) {
            font-size: 0.6875rem;
            line-height: 1rem;
        }
    }
    .step-heading {
        color: white;
        font-size: 2.25rem;
        font-weight: 600;
        @media screen and (max-width: 30rem) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: 20rem) {
            font-size: 1.125rem;
            line-height: 1.625rem;
        }
    }
}