$primary-color: #162732;
$secondary-color:#925985;
$font-color: #162732;
$placeholder-color:#9FACB7;
$focused-border-color: #7D8E9A;
$faded-color: #7D8E9A;
$label-color: #9B9B9B;
$header-color: white;
$background-color: #F6F6F6;
$footer-background-color: #efefef;
$error-color: #D0021B;